{
    "assistant_name": "Asistente IA",
    "theme": "dark",
    "GEMINI_API_KEY": "YOUR_GEMINI_API_KEY_HERE",
    "ai_model": "gemini-2.5-flash",
    "GOOGLE_API_KEY":"YOUR_GOOGLE_API_KEY_HERE",
    "GOOGLE_CSE_ID": "YOUR_GOOGLE_CSE_ID_HERE"
}